<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-998">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Welcome to</span>
            <!--Logo-->
            <picture class="cs-logo">
                <source media="(max-width: 600px)" srcset="/assets/images/logo.png">
                <source media="(min-width: 601px)" srcset="/assets/images/logo.png">
                <img decoding="async" src="/assets/images/logo.png" alt="Stitch House Restaurant" width="614" height="166">
            </picture>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
                </p>
            <a href="" class="cs-button-solid">Reserve Your Table</a>
        </div>
    </div>
    <!--Background Image-->
    <!--Image is also set as background image in CSS at 1400px for parallax effect-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/landing-m.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/landing.jpg">
        <img decoding="async" src="/assets/images/landing.jpg" alt="logo" width="1920" height="1000">
    </picture>
</section>