<!-- ============================================ -->
<!--                    Menu                      -->
<!-- ============================================ -->

<section id="menu-1005">
    <div class="cs-container">
        <div class="cs-content">
            <picture class="cs-wrapper" aria-hidden="true">
                <img class="cs-decal" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/decal1.svg" decoding="async" alt="decal" width="181" height="36">
            </picture>
            <h2 class="cs-title">Our Specials</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture"  aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg" alt="food" width="160" height="160">
                </picture>
                <div class="cs-info">
                    <h3 class="cs-h3">
                        <span class="cs-name">Purple Corn Tostada</span>
                        <span class="cs-price">
                            $56
                        </span>
                    </h3>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture"  aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg" alt="food" width="160" height="160">
                </picture>
                <div class="cs-info">
                    <h3 class="cs-h3">
                        <span class="cs-name">Purple Corn Tostada</span>
                        <span class="cs-price">
                            $56
                        </span>
                    </h3>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture"  aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg" alt="food" width="160" height="160">
                </picture>
                <div class="cs-info">
                    <h3 class="cs-h3">
                        <span class="cs-name">Purple Corn Tostada</span>
                        <span class="cs-price">
                            $56
                        </span>
                    </h3>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture"  aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg" alt="food" width="160" height="160">
                </picture>
                <div class="cs-info">
                    <h3 class="cs-h3">
                        <span class="cs-name">Purple Corn Tostada</span>
                        <span class="cs-price">
                            $56
                        </span>
                    </h3>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture"  aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg" alt="food" width="160" height="160">
                </picture>
                <div class="cs-info">
                    <h3 class="cs-h3">
                        <span class="cs-name">Purple Corn Tostada</span>
                        <span class="cs-price">
                            $56
                        </span>
                    </h3>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture"  aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg" alt="food" width="160" height="160">
                </picture>
                <div class="cs-info">
                    <h3 class="cs-h3">
                        <span class="cs-name">Purple Corn Tostada</span>
                        <span class="cs-price">
                            $56
                        </span>
                    </h3>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                    </p>
                </div>
            </li>
        </ul>
        <a href="" class="cs-button-solid">Reserve Your Table</a>
    </div>
    <!--Static background is in CSS as a tiled pattern-->
</section>