<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-399">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Trusted by Thousand of People & Companies</h2>
            <p class="cs-text">
                At Stitch Cleaning Service, let us help you solve problems so that you can focus on your mission. We support businesses through periods of expansion, succession.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <!--Blue Quote-->
                <img class="cs-quote" aria-hidden="true" src="/assets/svgs/quote.svg" decoding="async" alt="quote icon" width="40" height="33">
                <!--White Quote-->
                <img class="cs-quote-white" aria-hidden="true" src="/assets/svgs/quote-white.svg" decoding="async" alt="quote icon" width="60" height="55">
                <p class="cs-review">
                    Stitch Cleaning is my new go-to cleaning help! My boyfriend and I are always obsessed with their recommendations!
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="/assets/svgs/profile.svg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                    </picture>
                    <span class="cs-name">
                        Sarah
                        <span class="cs-job">HR Manager</span>
                    </span>
                </div>
            </li>
            <li class="cs-item">
                <!--Blue Quote-->
                <img class="cs-quote" aria-hidden="true" src="/assets/svgs/quote.svg" decoding="async" alt="quote icon" width="40" height="33">
                <!--White Quote-->
                <img class="cs-quote-white" aria-hidden="true" src="/assets/svgs/quote-white.svg" decoding="async" alt="quote icon" width="60" height="55">
                <p class="cs-review">
                    This site is seriously perfect. I love the layout, and its the first place I check before making plans with friends.
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="/assets/svgs/profile.svg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                    </picture>
                    <span class="cs-name">
                        John Doe
                        <span class="cs-job">Project Manager</span>
                    </span>
                </div>
            </li>
            <li class="cs-item">
                <!--Blue Quote-->
                <img class="cs-quote" aria-hidden="true" src="/assets/svgs/quote.svg" decoding="async" alt="quote icon" width="40" height="33">
                <!--White Quote-->
                <img class="cs-quote-white" aria-hidden="true" src="/assets/svgs/quote-white.svg" decoding="async" alt="quote icon" width="60" height="55">
                <p class="cs-review">
                    This site is seriously perfect. I love the layout, and its the first place I check before making plans with friends.
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="/assets/svgs/profile.svg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                    </picture>
                    <span class="cs-name">
                        John Doe
                        <span class="cs-job">Project Manager</span>
                    </span>
                </div>
            </li>
        </ul>
    </div>
</section>