<!-- ============================================ -->
<!--                   Steps                      -->
<!-- ============================================ -->

<section id="steps-889">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Process</span>
            <h2 class="cs-title">How It Works</h2>
            <p class="cs-text">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Ficon-orange.svg" alt="icon" width="32" height="32" loading="lazy" decoding="async" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Contact Us</h3>
                <p class="cs-item-p">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nemo voluptate.
                </p>
            </li>
            <!--Arrow-->
            <li class="cs-item cs-arrow" aria-hidden="true">
                <img class="cs-arrow-img" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Farrow-curve-right.svg" alt="icon" width="80" height="76" loading="lazy" decoding="async" aria-hidden="true">
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Ficon-orange.svg" alt="icon" width="32" height="32" loading="lazy" decoding="async" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Initial Evaluation</h3>
                <p class="cs-item-p">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nemo voluptate.
                </p>
            </li>
            <!--Arrow-->
            <li class="cs-item cs-arrow" aria-hidden="true">
                <img class="cs-arrow-img" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Farrow-curve-right.svg" alt="icon" width="80" height="76" loading="lazy" decoding="async" aria-hidden="true">
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Ficon-orange.svg" alt="icon" width="32" height="32" loading="lazy" decoding="async" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Develop a Plan</h3>
                <p class="cs-item-p">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nemo voluptate.
                </p>
            </li>
        </ul>
        <a href="" class="cs-button-solid">View All Projects</a>
    </div>
</section>