---
title: 'About | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    {% include 'components/top-margin.html' %}

    <!-- ============================================ -->
    <!--                Side By Side                  -->
    <!-- ============================================ -->

    <section id="RPsbs-1008">
        <div class="cs-container">
            <div class="cs-image-group">
                <picture class="cs-picture">
                    <!--Desktop-->
                    <source media="(min-width: 1024px)" srcset="/assets/images/portfolio/port5.jpg">
                    <!--Tablet-->
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port5.jpg">
                    <!--Mobile-->
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port5-m.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/portfolio/port5.jpg" alt="beef" width="522" height="461" aria-hidden="true">
                </picture>
                <img class="cs-seal" loading="lazy" decoding="async" src="/assets/images/logo.png" alt="seal" width="190" height="182">
            </div>
            <div class="cs-content">
                <span class="cs-topper">Our Story</span>
                <h2 class="cs-title">Who We Are</h2>
                <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                <!--Creates the space between p tags on mobile-->
                    <span class="cs-spacer"></span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
            </p>
                <a href="" class="cs-button-solid">Reserve Your Table</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--             Side By Side Reverse             -->
    <!-- ============================================ -->

    <section id="RPsbsr-1008">
        <div class="cs-container">
            <div class="cs-image-group">
                <picture class="cs-picture">
                    <!--Desktop-->
                    <source media="(min-width: 1024px)" srcset="/assets/images/portfolio/port5.jpg">
                    <!--Tablet-->
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port5.jpg">
                    <!--Mobile-->
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port5-m.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/portfolio/port5.jpg" alt="beef" width="522" height="461" aria-hidden="true">
                </picture>
                <img class="cs-seal" loading="lazy" decoding="async" src="/assets/images/logo.png" alt="seal" width="190" height="182">
            </div>
            <div class="cs-content">
                <span class="cs-topper">Our Story</span>
                <h2 class="cs-title">Who We Are</h2>
                <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                <!--Creates the space between p tags on mobile-->
                    <span class="cs-spacer"></span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
            </p>
                <a href="" class="cs-button-solid">Reserve Your Table</a>
            </div>
        </div>
    </section>

{% endblock %}