<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="ve-nini">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/models1.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/models1.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/models1.jpg" alt="mechanic" width="413" height="500">
            </picture>
            <!--Top Right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/shoes2.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/shoes2.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/shoes2.jpg" alt="mechanic" width="413" height="280">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Về Nini</span>
            <h2 class="cs-title">Chào mừng đến với Bánh nhà Nini!</h2>
            <p class="cs-text">
                Bánh nhà Nini ra đời vào năm ngoái với niềm đam mê mang đến những chiếc bánh tươi ngon, đậm đà hương vị nhà làm. Chúng tôi tự hào sử dụng nguyên liệu tươi ngon nhất và sự chăm chút tỉ mỉ trong từng sản phẩm. Hãy đến và cảm nhận tình yêu từ mỗi chiếc bánh của chúng tôi!
            </p>
            <a href="" class="cs-button-solid">Xem thực đơn</a>
        </div>
    </div>
</section>