<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-1271">
    <div class="cs-container">
        <div class="cs-form-group">
            <h3 class="cs-h3">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/clipboard-orange.svg" alt="clipboard" width="32" height="32">
                </picture>
                Ghi những món chọn và số lượng vào ô Tin Nhắn
            </h3>
            <!--Form-->
            <form class="cs-form" id="cs-form-1271" name="Contact Form" method="post">
                <label class="cs-label">
                    Tên
                    <input class="cs-input" required type="text" id="name-1271" name="name" placeholder="Tên">
                </label>
                {# <label class="cs-label cs-email">
                    
                    <input class="cs-input" required type="email" id="email-1271" name="email" placeholder="Email">
                </label> #}
                <label class="cs-label cs-phone">
                    Số điện thoại
                    <input class="cs-input" required type="phone" id="phone-1271" name="phone" placeholder="Số điện thoại">
                </label>
                <label class="cs-label">
                    Tin Nhắn
                    <textarea class="cs-input cs-textarea" required name="Message" id="message-1271" placeholder="Chọn món..."></textarea>
                </label>
                <button class="cs-button-solid cs-submit" type="submit">Nhắn với Nini</button>
            </form>
        </div>
        <div class="cs-wrapper">
            <div class="cs-content">
                <span class="cs-topper">Liên Hệ</span>
                <h2 class="cs-title">Liên hệ với Nini để chọn món ngay</h2>
                <p class="cs-text">
                    Nini thường sẽ trả lời trong vòng 1 ngày.p
                </p>
            </div>
        </div>
    </div>
    {# <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves-m.svg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves.svg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves.svg" alt="waves" width="960" height="839">
    </picture> #}
</section>