<!-- ============================================ -->
<!--                 Why Choose                   -->
<!-- ============================================ -->

<section id="cach-dat-hang">
    <div class="cs-container">
        <div class="cs-content">
            {# <span class="cs-topper">Experienced</span> #}
            <h2 class="cs-title">Cách đặt hàng</h2>
            {# <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam earum rerum sunt officia quas adipisci. Nulla, dolor dignissimos qui laboriosam, asperiores aliquam soluta voluptatum, dolorem dolores minima delectus quas nam?
            </p> #}
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/toolbox.svg" alt="toolbox icon" width="42" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Chọn sản phẩm yêu thích</h3>
                <p class="cs-item-text">
                    Khám phá menu của Nini và chọn những món bạn muốn thưởng thức.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/ribbon.svg" alt="ribbon icon" width="32" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Gọi điện đặt hàng</h3>
                <p class="cs-item-text">
                    Gọi ngay cho chúng tôi theo số [số điện thoại] để đặt hàng nhanh chóng.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/sheild.svg" alt="heart icon" width="42" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Giao hàng tận nơi</h3>
                <p class="cs-item-text">
                    Chờ đợi và nhận bánh ngon tại nhà. Nhanh chóng và tiện lợi!
                </p>
            </li>
        </ul>
        {# <a href="" class="cs-button-solid">Get Free Quote</a> #}
    </div>
</section>