<!-- menu.njk -->
<div id="menu">
    <div class="cs-container">
        <div class="cs-content">
            <picture class="cs-icon-wrapper">
                <img class="cs-icon" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Ffancy-divider.svg" alt="divider" width="181" height="36" aria-hidden="true">
            </picture>
            <h2 class="cs-title">{{ menu.title }}</h2>
            <div class="cs-button-group">
                {% for section in menu.sections %}
                    <button class="cs-button {% if loop.first %}cs-active{% endif %}" data-filter="{{ section.category }}" onclick="window.location.href='#cs-menu-group';">
                        {{ section.name }}
                    </button>
                {% endfor %}
            </div>
        </div>

        {% for section in menu.sections %}
            <div id="cs-menu{{ loop.index }}" class="cs-menu-group" data-category="{{ section.category }}">
                <section class="cs-menu">
                    <div class="cs-container">
                        <ul class="cs-card-group">
                            {% for item in section.items %}
                                <li class="cs-item">
                                    <picture class="cs-picture" aria-hidden="true">
                                        <source media="(max-width: 600px)" srcset="{{ item.image }}">
                                        <source media="(min-width: 601px)" srcset="{{ item.image }}">
                                        <img loading="lazy" decoding="async" src="{{ item.image }}" alt="food" width="160" height="160">
                                    </picture>
                                    <div class="cs-info">
                                        <h3 class="cs-h3">
                                            <span class="cs-name">{{ item.name }}</span>
                                            <span class="cs-price">{{ item.price }}</span>
                                        </h3>
                                        <p class="cs-item-p">
                                            {{ item.description }}
                                        </p>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </section>
            </div>
        {% endfor %}
    </div>
</div>