<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-286">
    <div class="cs-container">
        <div class="cs-content">
            {# <span class="cs-topper">Our Reviews</span> #}
            <h2 class="cs-title">Khách hàng đã nói gì?</h2>
            <p class="cs-text">
                Spaceholder
            </p>
            {# <a aria-label="read more reviews" href="" class="cs-button-solid">Read More</a> #}
        </div>
        <ul class="cs-card-group">
            <!-- Review 1 -->
            <li class="cs-item">
                <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile5.png" alt="profile picture" width="80" height="80">
                <p class="cs-item-text">
                    Spaceholder
                </p>
                <span class="cs-reviewer">
                    Spaceholder
                    <span class="cs-desc">Spaceholder</span>
                </span>
                <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="stars" width="96" height="16">
            </li>
            <!-- Review 2 -->
            <li class="cs-item">
                <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile-4.png" alt="profile picture" width="80" height="80">
                <p class="cs-item-text">
                    Spaceholder
                </p>
                <span class="cs-reviewer">
                    Spaceholder
                    <span class="cs-desc">Spaceholder</span>
                </span>
                <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="stars" width="96" height="16">
            </li>
        </ul>
    </div>
</section>