<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1329">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper">Our Services</span>
                <h2 class="cs-title">Our Popular Services</h2>
            </div>
            <p class="cs-text">
                In the new era of technology we look in the future with certainty and for any post types, or just they are so much great of all to a program.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-number">01</span>
                    <h3 class="cs-h3">Audit & Assurance</h3>
                    <p class="cs-item-text">
                        We consider all the drivers
                    </p>
                </a>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/finance-screen.png">
                    <source media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/finance-screen.png">
                    <img decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/finance-screen.png"
                            alt="finance" width="413" height="374" aria-hidden="true">
                </picture>
                <!--On Hover Image-->
                <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/Icon.svg" alt="arrow" width="412" height="249" aria-hidden="true">
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-number">02</span>
                    <h3 class="cs-h3">Tax Advisory Services</h3>
                    <p class="cs-item-text">
                        We consider all the drivers
                    </p>
                </a>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/finance-reading.png">
                    <source media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/finance-reading.png">
                    <img decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/finance-reading.png"
                            alt="finance" width="413" height="374" aria-hidden="true">
                </picture>
                <!--On Hover Image-->
                <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/Icon.svg" alt="arrow" width="412" height="249" aria-hidden="true">
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-number">03</span>
                    <h3 class="cs-h3">Year-End Tax Planning</h3>
                    <p class="cs-item-text">
                        We consider all the drivers
                    </p>
                </a>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digita loceanspaces.com/Images/MISC/finance-laptop.png">
                    <source media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/finance-laptop.png">
                    <img decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/finance-laptop.png"
                            alt="finance" width="413" height="374" aria-hidden="true">
                </picture>
                <!--On Hover Image-->
                <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/Icon.svg" alt="arrow" width="412" height="249" aria-hidden="true">
            </li>
        </ul>
    </div>
</section>