<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1329">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper">Các Loại Bánh Của Chúng Tôi</span>
                <h2 class="cs-title">Thưởng Thức Những Sản Phẩm Đặc Biệt Từ Bánh nhà Nini</h2>
            </div>
            {# <p class="cs-text">
                In the new era of technology we look in the future with certainty and for any post types, or just they are so much great of all to a program.
            </p> #}
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-number">01</span>
                    <h3 class="cs-h3">Pizza Cấp Đông</h3>
                    <p class="cs-item-text">
                        Những chiếc pizza thơm ngon, chất lượng cao, được cấp đông để giữ nguyên hương vị. Tiện lợi cho mọi bữa ăn, chỉ cần nướng lại là có ngay món pizza nóng hổi.
                    </p>
                </a>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/finance-screen.png">
                    <source media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/finance-screen.png">
                    <img decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/finance-screen.png"
                            alt="finance" width="413" height="374" aria-hidden="true">
                </picture>
                <!--On Hover Image-->
                <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/Icon.svg" alt="arrow" width="412" height="249" aria-hidden="true">
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-number">02</span>
                    <h3 class="cs-h3">Bánh Mặn</h3>
                    <p class="cs-item-text">
                        Đa dạng các loại bánh mặn thơm ngon, từ bánh mì kẹp nhân thịt đến bánh pate. Được làm từ nguyên liệu tươi ngon nhất, đảm bảo hương vị đậm đà.
                    </p>
                </a>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/finance-reading.png">
                    <source media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/finance-reading.png">
                    <img decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/finance-reading.png"
                            alt="finance" width="413" height="374" aria-hidden="true">
                </picture>
                <!--On Hover Image-->
                <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/Icon.svg" alt="arrow" width="412" height="249" aria-hidden="true">
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-number">03</span>
                    <h3 class="cs-h3">Bánh Ngọt</h3>
                    <p class="cs-item-text">
                        Tận hưởng những chiếc bánh ngọt mềm mại và ngọt ngào, từ bánh bông lan đến bánh kem. Mỗi chiếc bánh đều được chế biến thủ công với tình yêu và sự chăm chút.
                    </p>
                </a>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digita loceanspaces.com/Images/MISC/finance-laptop.png">
                    <source media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/finance-laptop.png">
                    <img decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/finance-laptop.png"
                            alt="finance" width="413" height="374" aria-hidden="true">
                </picture>
                <!--On Hover Image-->
                <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/Icon.svg" alt="arrow" width="412" height="249" aria-hidden="true">
            </li>
        </ul>
    </div>
</section>