<section id="meet-team-1435">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">{{ team.title }}</h2>
            <p class="cs-text">
                {{ team.description }}
            </p>
        </div>
        <ul class="cs-card-group">
            {% for member in team.members %}
                <li class="cs-item">
                    <picture class="cs-picture">
                        <!-- Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{{ member.imageMobile }}">
                        <!-- Tablet and above Image -->
                        <source media="(min-width: 601px)" srcset="{{ member.imageDesktop }}">
                        <img loading="lazy" decoding="async" src="{{ member.imageDesktop }}" alt="{{ member.alt }}" width="305" height="338">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-name">{{ member.name }}</span>
                        <span class="cs-job">{{ member.job }}</span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>