/*-- -------------------------- -->
<---       Contact Strip        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #contact-strip-325 {
        padding: var(--sectionPadding);
        background-color: var(--backgroundLight);

        .cs-stat-group {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(600 / 16 * 1rem);
            margin: auto;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: calc(40 / 16 * 1rem);
        }

        .cs-item {
            list-style: none;
            width: calc(290 / 16 * 1rem);
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            &:hover {
                .cs-picture {
                    background-color: #fff;
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                    transform: scale(1.05);
                }
            }
        }

        .cs-picture {
            width: calc(80 / 16 * 1rem);
            height: calc(80 / 16 * 1rem);
            /* 12px - 20px */
            margin-right: clamp(0.75rem, 3vw, 1.25rem);
            border-radius: 50%;
            border: 1px solid var(--primary);
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
            transition:
                background-color 0.3s,
                box-shadow 0.3s,
                transform 0.6s;
        }

        .cs-flex-group {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
        }

        .cs-icon {
            width: 33/16rem;
            height: auto;
        }

        .cs-header {
            font-size: calc(20 / 16 * 1rem);
            color: var(--bodyTextColorWhite);
            font-weight: 900;
            line-height: 1.2em;
            margin: 0;
            margin-bottom: calc(12 / 16 * 1rem);
            display: block;
        }

        .cs-link,
        .cs-hours {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-decoration: none;
            color: var(--bodyTextColor);
            display: block;
            transition: .3s;
        }

        .cs-link {
            &:hover {
                color: var(--primary);
            }
        }
    }
}

/* Tablet - 650px */
@media only screen and (min-width: 40.625rem) {
    #contact-strip-325 {
        .cs-stat-group {
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: calc(20 / 16 * 1rem);
            row-gap: calc(32 / 16 * 1rem);
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #contact-strip-325 {
        .cs-stat-group {
            max-width: calc(1280 / 16 * 1rem);
            flex-wrap: nowrap;
            justify-content: space-evenly;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #contact-strip-325 {
            background-color: var(--dark);
            .cs-header,
            .cs-link,
            .cs-hours {
                color: var(--bodyTextColorWhite);
            }

            .cs-item {
                &:hover {
                    .cs-icon {
                        filter: brightness(100%);
                    }
                }
            }

            .cs-picture {
                border: 1px solid var(--bodyTextColorWhite);
            }

            .cs-icon {
                /* makes it so bright it turns white */
                filter: brightness(1000%);
            }
        }
    }
}

                                